body {
  background-color: #3e592a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #f5f6e9;
  overflow-x: hidden;
}

.jumbotron {
  padding-top: 7rem;
}

#about h2 {
  font-weight: 800;
}

#location {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f5f6e9;
  color: #3e592a;
}

#location h2 {
  font-weight: 800;
}

.card-text a {
  text-decoration: none;
  color: #f5f6e9;
  transition: 0.5s;
}

.card-title {
  font-weight: 800;
}

.card-text a:hover {
  color: #3e592a;
}

.link-company {
  text-decoration: none;
  color: white;
}

.link-company:hover {
  color: #b08968;
  transition: 0.3s;
}

#menu {
  background-color: #3e592a;
}

#menu h2 {
  font-weight: 800;
}

#contact {
  background-color: #f5f6e9;
  color: #3e592a;
}

#contact h2 {
  font-weight: 800;
}

section {
  padding-top: 5rem;
}

nav {
  background-color: #3e592a;
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

nav .container ul li {
  padding-left: 1rem;
}

footer {
  background-color: #3e592a;
}

.btn {
  background-color: #3e592a;
}
